#login.card{

    padding: 20px;
    width: 50%;
    height: 400px;
    left: 26%;
    margin-top: 13%;
    align-items: center;

    #login-Body.card-body{
        text-align: center;
        .card-title{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
        }
        #login-form{
            position:relative;
            margin-top:12%;
            margin-left: 2%;
            input{
                width: 400px !important;
                margin-bottom: 10px;
            }
            button{
                margin-top: 20px;
            }
        }
    }
}

#log-out-button{
    a{
        text-decoration: none;
    }
}
